<%if flash[:error].present?%>
  <div class="alert alert-danger" role="alert">
    <%=flash.now[:error].html_safe%>
  </div>
<%end%>
<%if flash[:success].present?%>
  <div class="alert alert-success" role="alert">
    <%=flash.now[:success].html_safe%>
  </div>
<%end%>
<%if flash[:alert].present?%>
  <div class="alert alert-warning" role="alert">
    <%=flash.now[:alert].html_safe%>
  </div>
<%end%>
<%if flash[:notice].present?%>
  <div class="alert alert-info" role="alert">
    <%=flash.now[:notice].html_safe%>
  </div>
<%end%>
